#footer {
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

    padding: 20px;
    padding-top: 40px;

    height: fit-content;

    background-color: white;
    background-color: #425d77;
    color: black;

    a {
        color: black;
        color: white;
        text-decoration: none;
    }

    .footer-nav-social-links {

        display: flex;
        flex-flow: column;
        gap: 40px;
        align-items: center;

        .footer-nav-links {
            display: flex;
            gap: 20px;
        }
    
        .footer-social-links {
            
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 32px;
                height: 32px;
            }
    
        }

        span {
            color: white;
        }
    }
    

    .texts {
        
        color: white;
        font-size: 0.7rem;

        padding: 20px;
    }
}