.page-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
        border: none;
        background-color: transparent;

        display: none;

        img {
            width: 60px;
            height: 60px;
        }
    }

    @media (max-width : 780px) {
        button {
            display: initial;
        }
    }
}