#request-portal-index {
    
    .request-portal-subpage-links {

        display: flex;
        gap: 20px;
        justify-content: center;
        
        margin-top: auto;
        margin-bottom: auto;

        width: 100%;

    }

}